## Preprocessing

In [77]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head(50)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,10573059,KAI ELUA OUTRIGGER CANOE CLUB,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,10575727,HERITAGE ACADEMY,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,10583569,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,10585206,DOMINION INTERNATIONAL NETWORK OF MINISTRIES &...,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,10585443,V O W FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,10596727,JOSEPH E PEEBLES JR FOUNDATION,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,10602428,WASHINGTON ASSOCIATION OF PHYSICIANS OF INDIAN...,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,10603214,SAINT FRANCIS HOSPITAL SOUTH LLC,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,10604986,ANCHORAGE COMMUNITY MENTAL HEALTH SERVICES,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,10605038,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0
20,10608689,INTERNATIONAL FELINE SHOWCASE,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
21,10612407,METAMORPHASIS POWERHOUSE COMPANY,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
22,10614724,REACH FOR EXCELLENCE INC,T3,Independent,C7000,Preservation,Trust,1,100000-499999,N,318296,0
23,10622557,INTERNATIONAL ASSOCIATION OF LIONS CLUB,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
24,10623527,SONS OF CONFEDERATE VETERANS INC,T3,CompanySponsored,C1200,Preservation,Trust,1,0,N,5000,0
25,10629331,MAGDALENA OLD TIMERS REUNION ASSOCIATION,T4,Independent,C3000,ProductDev,Trust,1,0,N,5000,1
26,10631060,INFRAGARD NATIONAL MEMBERS ALLIANCE INC,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
27,10635952,POP WARNER LITTLE SCHOLARS INC,T3,CompanySponsored,C2000,Preservation,Trust,1,25000-99999,N,44004,1
28,10637680,FLORIDA STATE UNIVERSITY ALUMNI ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
29,10637829,HAWAII TRAVEL & TOURISM RESEARCH ASSOCIATION,T6,Independent,C2000,ProductDev,Trust,1,0,N,5000,1
30,10637920,MEDICAL STAFF OF PARKVIEW COMMUNITY HOSPITAL M...,T6,Independent,C2000,ProductDev,Trust,1,100000-499999,N,323466,1
31,10638860,CLEAR UP SKIN CARE,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
32,10639038,STAR TOURING AND RIDING SACARMENTO CHAPTER 153,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
33,10641003,SHERIFFS COMMUNITY ORGANIZED POLICING EFFORTS,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,1
34,10642634,DOCTORS OFFERING CHARITABLE SERVICES,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0
35,10648919,G A P MINISTRIES,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,0
36,10655941,MELLOWTONES BIG BAND INC,T4,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
37,10656131,SAI HUMANITARIAN INSTITUTE OF LEARNING AND HEA...,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
38,10656251,RIVERVIEW 2,T7,Independent,C1000,ProductDev,Association,1,0,N,5000,0
39,10656605,ERASTO R BATONGMALAQUE FOUNDATION,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,5000,1
40,10662680,TIFTON JUDICIAL CIRCUIT SHELTER INC,T3,Independent,C1000,Preservation,Trust,1,25000-99999,N,709815,0
41,10664127,IBEW LOCAL 180 HOLDING COMPANY,T2,Independent,C1000,ProductDev,Trust,1,25000-99999,N,1329410,0
42,10669807,ORLANDO PARROT HEADS OF CENTRAL FLORIDA INC,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,1
43,10671224,HABITAT FOR HUMANITY INTERNATIONAL INC,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
44,10672368,HOLY SPIRIT CHURCH AND INSTITUTE INC,T3,Independent,C7200,Preservation,Trust,1,0,N,5000,1
45,10681022,K-9 SEARCH AND RESCUE OF ORANGE CITY INC,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
46,10681362,PTA TEXAS CONGRESS,T3,CompanySponsored,C2000,Preservation,Trust,1,0,N,5000,0
47,10687111,SOUTHERN CALIFORNIA NATURIST ASSOCIATION,T7,Independent,C1000,ProductDev,Trust,1,0,N,5000,0
48,10691782,MOSES SONG MINISTRIES,T3,Independent,C1700,Preservation,Trust,1,0,N,5000,1
49,10692183,VINCI PARK HOME AND SCHOOL CLUB,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,0

In [78]:
# Drop the non-beneficial ID columns
application_df.drop(['EIN', 'AFFILIATION', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS'],axis=1,inplace=True)

In [79]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
CLASSIFICATION         71
USE_CASE                5
STATUS                  2
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [80]:
# Look at APPLICATION_TYPE value counts for binning
application_types_count = application_df['APPLICATION_TYPE'].value_counts()
application_types_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [81]:
index_list = application_types_count.index
index_list

Index(['T3', 'T4', 'T6', 'T5', 'T19', 'T8', 'T7', 'T10', 'T9', 'T13', 'T12',
       'T2', 'T25', 'T14', 'T15', 'T29', 'T17'],
      dtype='object')

In [82]:
# Choose a cutoff value and create a list of application types to be replaced
app_index_list = application_types_count.index
application_types_to_replace = []

for index in range(len(app_index_list)):
    if application_types_count[index] <700:
        application_types_to_replace.append(app_index_list[index])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,'Other')

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [83]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C2170        1
C4200        1
C6100        1
C8210        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [84]:
# check CLASSIFICATION value counts >1
classification_count.loc[classification_count >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1246        2
C1267        2
C1256        2
C1234        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [85]:
# Choose a cutoff value and create a list of classifications to be replaced
class_index_list = classification_count.index
classifications_to_replace = []

for index in range(len(class_index_list)):
    if classification_count[index] <1500:
        classifications_to_replace.append(class_index_list[index])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,'Other')
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [86]:
# Look at NAME value counts for binning
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                         1260
TOPS CLUB INC                                                   765
UNITED STATES BOWLING CONGRESS INC                              700
WASHINGTON STATE UNIVERSITY                                     492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                 408
                                                               ...
TRILOGY ORLANDO VETERANS ASSOCIATION                              1
SOUTHWEST CENTER FOR HIV AIDS INC                                 1
NAM KNIGHTS OF AMERICA MOTORCYCLE CLUB WESTSIDE CHAPTER INC       1
ROUND VALLEY ELKS BOOSTER CLUB LLC                                1
NAHCA INC                                                         1
Name: NAME, Length: 19568, dtype: int64

In [87]:
# Choose a cutoff value and create a list of names to be replaced
name_index_list = name_count.index
name_to_replace = []

for index in range(len(name_index_list)):
    if name_count[index] <3:
        name_to_replace.append(name_index_list[index])

# Replace in dataframe
for n in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(n,'Other')
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                               19206
PARENT BOOSTER USA INC                                               1260
TOPS CLUB INC                                                         765
UNITED STATES BOWLING CONGRESS INC                                    700
WASHINGTON STATE UNIVERSITY                                           492
                                                                    ...
NORTHWEST SWIM CIRCUIT                                                  3
ALLIANCE FOR RETIRED AMERICANS                                          3
INSTITUTE OF REAL ESTATE MANAGEMENT OF THE NATL ASSN OF REALTORS        3
PTA KANSAS CONGRESS OF PARENTS AND TEACHERS                             3
LIGHT FOR LIFE FOUNDATION INTERNATIONAL                                 3
Name: NAME, Length: 578, dtype: int64

In [88]:
# Convert categorical data to numeric with `pd.get_dummies`
numerical_df =  pd.get_dummies(application_df)
numerical_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_4-H CLUBS & AFFILIATED 4-H ORGANIZATIONS,NAME_AACE INTERNATIONAL,NAME_ACADEMY OF GENERAL DENTISTRY,NAME_ACADEMY OF MANAGED CARE PHARMACY,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
34295,1,5000,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,1,5000,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [89]:
# Split our preprocessed data into our features and target arrays
y=numerical_df["IS_SUCCESSFUL"]
X=numerical_df.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [90]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [91]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=len(X_train_scaled[0])))

# More hidden layers
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))
nn.add(tf.keras.layers.Dropout(0.2)) # drop out layer
nn.add(tf.keras.layers.Dense(units=12, activation='relu'))
nn.add(tf.keras.layers.Dense(units=8, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 80)                48720
_________________________________________________________________
dense_21 (Dense)             (None, 30)                2430
_________________________________________________________________
dropout_4 (Dropout)          (None, 30)                0
_________________________________________________________________
dense_22 (Dense)             (None, 12)                372
_________________________________________________________________
dense_23 (Dense)             (None, 8)                 104
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 9
=================================================================
Total params: 51,635
Trainable params: 51,635
Non-trainable params: 0
_________________________________________________________________

In [92]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [93]:
# A callback that saves the model's weights every 5 epochs
mc = tf.keras.callbacks.ModelCheckpoint('./callbacks_optimized/weights{epoch:08d}.h5', save_weights_only=True, period=5)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[mc])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/50
804/804 [==============================] - 1s 939us/step - loss: 0.4974 - accuracy: 0.7653
Epoch 2/50
804/804 [==============================] - 1s 966us/step - loss: 0.4420 - accuracy: 0.7934
Epoch 3/50
804/804 [==============================] - 1s 937us/step - loss: 0.4318 - accuracy: 0.7977
Epoch 4/50
804/804 [==============================] - 1s 929us/step - loss: 0.4279 - accuracy: 0.7979
Epoch 5/50
804/804 [==============================] - 1s 932us/step - loss: 0.4264 - accuracy: 0.7983
Epoch 6/50
804/804 [==============================] - 1s 936us/step - loss: 0.4240 - accuracy: 0.7997
Epoch 7/50
804/804 [==============================] - 1s 943us/step - loss: 0.4238 - accuracy: 0.7998
Epoch 8/50
804/804 [==============================] - 1s 937us/step - loss: 0.4214 - accuracy: 0.7998
Epoch 9/50
804/804 [==============================] - 1s 938us/step - loss: 0.4211 - accuracy: 0.7991
Epoch 10/50
804/804 [==============================] - 1s 936us/step - loss: 0.4209 - accuracy: 0.8000
Epoch 11/50
804/804 [==============================] - 1s 939us/step - loss: 0.4202 - accuracy: 0.8006
Epoch 12/50
804/804 [==============================] - 1s 961us/step - loss: 0.4195 - accuracy: 0.7997
Epoch 13/50
804/804 [==============================] - 1s 945us/step - loss: 0.4187 - accuracy: 0.8002
Epoch 14/50
804/804 [==============================] - 1s 930us/step - loss: 0.4187 - accuracy: 0.8001
Epoch 15/50
804/804 [==============================] - 1s 938us/step - loss: 0.4180 - accuracy: 0.8003
Epoch 16/50
804/804 [==============================] - 1s 942us/step - loss: 0.4189 - accuracy: 0.8007
Epoch 17/50
804/804 [==============================] - 1s 935us/step - loss: 0.4175 - accuracy: 0.8011
Epoch 18/50
804/804 [==============================] - 1s 929us/step - loss: 0.4176 - accuracy: 0.8015
Epoch 19/50
804/804 [==============================] - 1s 928us/step - loss: 0.4166 - accuracy: 0.8008
Epoch 20/50
804/804 [==============================] - 1s 927us/step - loss: 0.4161 - accuracy: 0.8014
Epoch 21/50
804/804 [==============================] - 1s 935us/step - loss: 0.4161 - accuracy: 0.8016
Epoch 22/50
804/804 [==============================] - 1s 925us/step - loss: 0.4178 - accuracy: 0.7998
Epoch 23/50
804/804 [==============================] - 1s 927us/step - loss: 0.4159 - accuracy: 0.8014
Epoch 24/50
804/804 [==============================] - 1s 927us/step - loss: 0.4158 - accuracy: 0.8026
Epoch 25/50
804/804 [==============================] - 1s 925us/step - loss: 0.4155 - accuracy: 0.8016
Epoch 26/50
804/804 [==============================] - 1s 944us/step - loss: 0.4160 - accuracy: 0.8029
Epoch 27/50
804/804 [==============================] - 1s 930us/step - loss: 0.4152 - accuracy: 0.8026
Epoch 28/50
804/804 [==============================] - 1s 935us/step - loss: 0.4156 - accuracy: 0.8017
Epoch 29/50
804/804 [==============================] - 1s 939us/step - loss: 0.4156 - accuracy: 0.8023
Epoch 30/50
804/804 [==============================] - 1s 934us/step - loss: 0.4154 - accuracy: 0.8018
Epoch 31/50
804/804 [==============================] - 1s 945us/step - loss: 0.4152 - accuracy: 0.8021
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4150 - accuracy: 0.8026
Epoch 33/50
804/804 [==============================] - 1s 965us/step - loss: 0.4148 - accuracy: 0.8024
Epoch 34/50
804/804 [==============================] - 1s 978us/step - loss: 0.4146 - accuracy: 0.8013
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4135 - accuracy: 0.8027
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4139 - accuracy: 0.8027
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4150 - accuracy: 0.8026
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4141 - accuracy: 0.8032
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4144 - accuracy: 0.8026
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4139 - accuracy: 0.8029
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4138 - accuracy: 0.8022
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8032
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4133 - accuracy: 0.8029
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4139 - accuracy: 0.8041
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8043
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4128 - accuracy: 0.8047
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4137 - accuracy: 0.8029
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4135 - accuracy: 0.8030
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4129 - accuracy: 0.8032
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.4133 - accuracy: 0.8032

In [94]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4391 - accuracy: 0.7950
Loss: 0.43910059332847595, Accuracy: 0.7949854135513306

In [95]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")